{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <header class="container">
            <a href="/" class="logo">#лого</a>
            <!--

            -->
            {# Комментарий twig#}

            <div>
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-primary text-center">Добавление слова</h1>
                    {{ form_start(addWordForm) }}
                    {{ form_widget(addWordForm.name, {'attr':{'placeholder':'Имя'}}) }}
                    <br>
                    {{ form_widget(addWordForm.description, {'attr':{'placeholder':'Описание'}}) }}
                    <br>
                    {{ form_widget(addWordForm.alternative, {'attr':{'placeholder':'Альтэ'}}) }}

                    <br>
                    <a href="{{ url('index') }}">Назад</a>

                    <button type="submit">Добавить</button>
                    {{ form_end(addWordForm) }}
                </div>
            </div>

            <!--
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-primary text-center">ЗАГОЛОВОК</h1>
                    <p>Проверка</p>
                </div>
            </div>
            -->

        </header>

        <main class="container text-center">

            <!-- Tab panes -->

        </main>

        <footer>
            <div class="container">
                <p>&copy; 2017 ВИМ</p>
            </div>
        </footer>
    </div>
{%  endblock %}
