<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>ВИМ</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/favicon.png">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>