{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <header class="container">
            <a href="/" class="logo">#логотип</a>

            <div>
                <div class="col-md-8 col-md-offset-2">
                    <input type="text" placeholder="Введите слово" required="required"/>
                    <button>Поиск</button>
                    <a href="{{ url('add-word') }}">+ Добавить слово</a>
                </div>
            </div>

            <div>
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-primary text-center">Слова</h1>

                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Имя</th>
                                <th>Описание</th>
                                <th>Альтэ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for word in words %}
                            <tr>
                                <td>{{ word.id }}</td>
                                <td><a href="{{ path('self-word', { 'id': word.id }) }}">{{ word.name }}</a></td>
                                <td>{{ word.description }}</td>
                                <td>
                                    {% for alte in word.alternative|slice(0, 1) %}
                                        {{ alte.name }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                            {%  endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </header>

        <main class="container text-center">

        </main>

        <footer>
            <div class="container">
                <p>&copy; 120 д.н.э. ВИМ</p>
            </div>
        </footer>
    </div>
{% endblock %}

