{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <header class="container">
            <a href="/" class="logo">#лого</a>
            <!--

            -->
            {# Комментарий twig#}

            <div>
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-primary text-center">Cлово</h1>

                    {{ word.name }}<br>
                    {{ word.description }}<br><br>
                    {% for alte in word.alternative %}
                        {{ alte.name }}  {{ alte.rating }}
                        <a href="{{ path('raise-alternative', { 'id': alte.id }) }}">Нравится</a>
                        <a href="{{ path('lower-alternative', { 'id': alte.id }) }}">Не нравится</a>
                        <a href="{{ path('delete-alternative', { 'id': alte.id }) }}">Удалить</a><br>
                    {% endfor %}
                    <br>
                    {{ form_start(addAlternativeForm) }}
                    {{ form_widget(addAlternativeForm.name, {'attr':{'placeholder':'Альтэ от меня'}}) }}
                    <button type="submit">+Альтэ</button>
                    {{ form_end(addAlternativeForm) }}
                    <!--<a href="{{ url('index') }}">+Альтэ</a>-->
                    <br>
                    <br>
                    <a href="{{ url('index') }}">Назад</a>

                    <a href="{{ path('delete-word', { 'id':word.id }) }}">Удалить</a>
                </div>
            </div>

            <!--
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-primary text-center">ЗАГОЛОВОК</h1>
                    <p>Проверка</p>
                </div>
            </div>
            -->

        </header>

        <main class="container text-center">

            <!-- Tab panes -->

        </main>

        <footer>
            <div class="container">
                <p>&copy; 2017 ВИМ</p>
            </div>
        </footer>
    </div>
{% endblock %}
