$brand-primary: #2e3192;
$brand-danger: #c94100;
$font-family-base: "Roboto-Regular";
$font-size-base: 22px;
$line-height-base: 1.33333;
$nav-tabs-border-color: #2e3192;
$nav-tabs-active-link-hover-border-color: #2e3192;
$nav-tabs-active-link-hover-color: #2e3192;
$nav-link-hover-bg: #eaeefd;
$nav-tabs-link-hover-border-color: #d2c9ef;

$icon-font-path: "../fonts/";

@import "bootstrap";
@import "font-awesome";