@font-face {
    font-family: Roboto-Black;
    src: url("/fonts/Roboto-Black.ttf")
}
@font-face {
    font-family: Roboto-Bold;
    src: url("/fonts/Roboto-Bold.ttf")
}
@font-face {
    font-family: Roboto-Medium;
    src: url("/fonts/Roboto-Medium.ttf")
}
@font-face {
    font-family: Roboto-Regular;
    src: url("/fonts/Roboto-Regular.ttf")
}

.wrapper{
    padding-top: 25px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    background: url("/images/bg.jpg") no-repeat scroll center 0;
}

header {
    height: 661px;
}

header a.btn{
    font: 17px/23px Roboto-Medium;
}

header .logo{
    font: 32px/36px Roboto-Black;
}

h1{
    font: 50px/66px Roboto-Black;
    margin-top: 30px;
}

header p{
    margin-top: 15px;
    text-align: justify;
}

main h1{
    margin-bottom: 60px;
}

main .nav-tabs {
    text-align: center;
}

main .nav-tabs > li {
    font: 16px/21px Roboto-Black;
    float:none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

main .nav-tabs > li > a {
    border: 1px solid #d2c9ef;
    border-bottom: 1px solid transparent;
}

main .tab-pane{
    padding-top: 45px;
}

main .tab-pane .form-group{
    margin-bottom: 35px;
}

main .tab-pane .input-group-addon{
    font-size: 14px;
}

main .tab-pane .form-control {
    font: 14px/18px Roboto-Regular;
    height: 38px;
}

main .tab-pane button {
    font: 17px/23px Roboto-Medium;
}

main .tab-pane .form-group .form-group-errors{
    display: none;
    font: 14px/18px Roboto-Regular;
    color: #d9534f;
    text-align: left;
}

footer {
    padding-top: 43px;
    font: 18px/24px Roboto-Regular;
    margin-top: 70px;
    height: 110px;
    background-color: #2e3192;
    color: #ffffff;
}

footer a {
    font: 18px/24px Roboto-Bold;
    color: #b6efff;
    text-decoration: underline;
}

footer a:hover {
    color: #767aef;
}

